.total{
  height:10%;
}

.Drawer-Container {
  height: 50vh;
  width: 95vw;
  background-color: orange;
  opacity: 0.83;
  transform: translateY(0);
  transition: transform 0.5s ease;
  position:relative;
  border-radius: 3.5%;
  
}
.Drawer-Container-isOpen {
  transform: translateY(-70%);
}

.emoji{
  width:100%;
}