*{
  box-sizing: border-box !important;
  margin: 0;
  padding:0;
}

button,input{
  background: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none !important;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  overflow: hidden;
  height:100vh;
}


